<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>particles.js</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="css/style.css">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <!-- jGravity file -->
  <script type="text/javascript" src="jGravity-min.js"></script>
</head>

<body>

  <style>
    .centered {
      color: grey;
      font-size: 2.1em;
      position: fixed;
      top: 40%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
      text-align: center;
    }
  </style>

  <p id="me"> A PEN by Mayur Birle </p>

  <div class="c-box">
    <div class="btn">Control</div>
    <div class="main-c">
      <div align="center">
        <div class="start-g">Start Gravity</div>
        <div class="stop-g">zero gravity</div>
      </div>
      <div class="input-area">
        <input type="range" min="-3" max="3" step=".2" value="0" id="gravity-x"></input>
        <input type="range" min="-3" max="3" step=".2" value="1" id="gravity-y"></input>
      </div>
      <br><br><br>
      <div align="center">
        <div class="close">Close</div>
      </div><br>
    </div>
  </div>

  <br><br>
  <div id="demo" align="center">
    <p align="center" id="wbox">
      <span v-for="a in message" :style="{color: getColor()}">{{a}}</span>
    </p>
    <input v-model="message" align="center" id="g-ip">
  </div>
  <br>
  <div align="center" class="g-btn">
    <button class="start-g" type="submit" id="grav">START GRAVITY</button>
    <button class="stop-g" type="submit" id="grav">ZERO GRAVITY</button>

  </div>
  </div>

  <script>
    var demo = new Vue({
      el: '#demo',
      data: {
        message: 'Gravity Text',
        getRandomColor: '#03a9f4'
      },
      methods: {
        getColor: function () {
          console.log('sadasd')
          var letters = '0123456789ABCDEF';
          var color = '#';
          for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
          }
          return color;
        }
      }
    })


    $(document).ready(function () {

      var gr_x = document.getElementById("gravity-x").value;
      var gr_y = document.getElementById("gravity-y").value;

      $(".start-g").click(function () {
        $("span").addClass("test");
        $(".test").throwable({
          drag: true,
          gravity: { x: gr_x, y: gr_y },
          impulse: {
            f: 152,
            p: { x: 0, y: 1.5 }
          },
          shape: "circle",
          autostart: false,
          bounce: 20,
          damping: 13,

        });

      });

      $(".stop-g").click(function () {
        $(".test").throwable({
          gravity: { x: 0, y: 0 },
        });
      });

      $("#gravity-x, #gravity-y").click(function () {
        var gr_x = document.getElementById("gravity-x").value;
        var gr_y = document.getElementById("gravity-y").value;
        $(".test").throwable({
          gravity: { x: gr_x, y: gr_y },
        });

      });
    });

    $(document).ready(function () {
      $(".btn").click(function () { $(".main-c").slideToggle("slow"); });
      $(".close").click(function () { $(".main-c").slideUp(); });

    });
  </script>


  <h2 id="easteregg" class="centered jGravity">You Found The Easter Egg!<br>
    <p>(click me)</p>
  </h2>


  <!-- count particles -->
  <div class="count-particles">
    <span class="js-count-particles">--</span> particles
  </div>

  <!-- particles.js container -->
  <div id="particles-js"></div>

  <!-- scripts -->
  <script src="../particles.js"></script>
  <script src="js/app.js"></script>

  <script></script>

  <!-- stats.js -->
  <script src="js/lib/stats.js"></script>
  <script>
    var count_particles, stats, update;
    stats = new Stats;
    stats.setMode(0);
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.left = '0px';
    stats.domElement.style.top = '0px';
    document.body.appendChild(stats.domElement);
    count_particles = document.querySelector('.js-count-particles');
    update = function () {
      stats.begin();
      stats.end();
      if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
        count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
      }
      requestAnimationFrame(update);
    };
    requestAnimationFrame(update);
  </script>

  <!--gravity script  -->
  <!-- <script>
    $(document).ready(function () {
      $('h2.jGravity').on('click', function () { // This can be changed to anything you like in order to trigger jGravity effect
        $('body').jGravity({ // jGravity works best when targeting the body
          target: 'h2#easteregg', // Enter your target critera e.g. 'div, p, span', 'h2' or 'div#specificDiv', or even 'everything' to target everything in the body
          ignoreClass: 'ignoreMe', // Specify if you would like to use an ignore class, and then specify the class
          weight: 25, // Enter any number 1-100 ideally (25 is default), you can also use 'heavy' or 'light'
          depth: 5, // Enter a value between 1-10 ideally (1 is default), this is used to prevent targeting structural divs or other items which may break layout in jGravity
          drag: true // Decide if users can drag elements which have been effected by jGravity
        });

      });
    });
</script> -->

</body>

</html>